body{
    background-color: #eee;
    letter-spacing: 2px;
    font-family: 'Pokemon Solid', sans-serif;
}
#pokemon{
    text-align: center;
}
.title{
    font-weight: bold;
    font-size: 20;
    text-align: center;
    
    text-transform: capitalize;
    
                                                
}
#pokedex{
    display: flex;
    flex-direction: column;
width: 20vw;
height: 80vh;
margin: 0 auto;
background-color: rgb(140, 246, 11);
border: 5px solid gold;
border-radius: 10px;
box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.57);
padding: 15px;

}
#searchBox{
    margin: 5px 5px 5px 5px;
    display: flex;
    border-radius: 20%; 
    font-size: 16px;
    flex-direction: column;
    background-color: #eee;
    font-family: 'Pokemon Solid', sans-serif;
    text-transform: capitalize;
                                                
    
}
#submit{
    margin: 5px 5px 5px 5px;
    font-family: 'Pokemon Solid', sans-serif;
    text-transform: capitalize;
    border-radius: 20%;
                                                
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;

}
#pokemon-name{
    text-align: center;
    background-color: #eee;
    border-radius: 20%;
    border-color: black;
    font-family: 'Pokemon Solid', sans-serif;
    text-transform: capitalize;
                                                
    
}
#pokemon-info{
    background-color: #eee;
    border-radius: 20%;
    border-color: black;
   
    text-transform: capitalize;
                                                
text-align: center;}

